<h1>Add Bike</h1>

<form action="/bikes" method="post">
  <label>Make</label>
  <input type="text" name="make" id="make"><br>
  <label>Model</label>
  <input type="text" name="model" id="model"><br>
  <label>Size</label>
  <input type="size" name="frame_size" id="frame_size"><br>
  <label>Type</label>
  <input type="text" name="bike_type" id="bike_type"><br>
  <label>Maintenance Notes</label>
  <input type="text" name="maintenance_log" id="maintenance_log"><br>
  <input type="submit" value="Add Bike">
</form>