<h1>Add Ride</h1>


<form action="/rides" method="post">
  <label>Name</label>
  <input type="text" name="name" id="name"><br>
  <label>Distance Miles</label>
  <input type="text" name="distance_miles" id="distance_miles"><br>
  <label>Climbing Feet</label>
  <input type="size" name="climbing_feet" id="climbing_feet"><br>
  <label>Terrain</label>
  <input type="text" name="terrain" id="terrain"><br>
  <label>Date</label>
  <input type="text" name="ride_date" id="ride_date"><br>
  <label>Duration</label>
  <input type="text" name="duration_hours" id="duration_hours"><br>
  <label>Bike</label><br>
  <% current_cyclist.bikes.each { |b| %>
  <input type="radio" name="bike_id" value="<%=b.id%>"> <%=b.make%> <%=b.model%><br>
  <% } %>
  <input type="submit" value="Add Ride">
</form>